{%- liquid
  assign section_st = section.settings
  assign animation = section_st.vertical_dropdowns_animation
  assign uppercase_first = section_st.vertical_uppercase_first
  assign title = section_st.title_categories
-%}
<div class="vertical-menu relative color-default">
  <div
    class="navigation vertical"
    data-action-mobile="{{ section_st.redirect_to_link }}"
    style="
      --hot-cl: {{ section_st.label_color_hot }};--hot-bg-cl: {{ section_st.label_background_hot }};
      --new-cl: {{ section_st.label_color_new }};--new-bg-cl: {{ section_st.label_background_new }};
      --sale-cl: {{ section_st.label_color_sale }};;--sale-bg-cl: {{ section_st.label_background_sale }};
    "
  >
    <div class="mobile-menu-content reset-color-on-menu">
      <div class="h3 title-menu-dropdown">
        <span>{{ title }}</span>
      </div>
      <div class="verticalmenu-html absolute" data-limitshowitem="10">
        <ul class="list-none verticalmenu-list animation-{{ animation }}{% if uppercase_first %} uppercase{% endif %}">
          {%- for link in section_st.vertical_menu.links -%}
            {%- liquid
              assign last_block = null
              for block in section.blocks
                if block.settings.text == link.title
                  assign last_block = block
                endif
              endfor
            -%}
            {% if last_block != null %}
              {%- liquid
                assign block_st = last_block.settings
                assign has_content = false
                assign full_width = block_st.full_width
              -%}
              {%- case last_block.type -%}
                {%- when 'menu_promotion' -%}
                  {%- for i in (1..2) -%}
                    {%- capture promotion -%}promotion_image_{{ i }}{%- endcapture -%}
                    {%- liquid
                      if block_st[promotion] != blank
                        assign has_content = true
                      endif
                    -%}
                  {%- endfor -%}
                {%- when 'menu_collection' -%}
                  {%- for i in (1..3) -%}
                    {%- capture collection -%}collection_{{ i }}{%- endcapture -%}
                    {%- liquid
                      if block_st[collection] != blank
                        assign has_content = true
                      endif
                    -%}
                  {%- endfor -%}
                {%- else -%}
                  {%- for i in (1..3) -%}
                    {%- capture product -%}product_{{ i }}{%- endcapture -%}
                    {%- liquid
                      if block_st[product] != blank
                        assign has_content = true
                      endif
                    -%}
                  {%- endfor -%}
              {%- endcase -%}
              {%- capture menu_level_zero -%}
                  {%- liquid
                    assign label = block_st.label
                  -%}
                  <a href="{{ link.url }}"{% if block_st.open_link != blank %} target="_blank"{% endif %}>
                    <span>{{ link.title }}</span>
                    {%- if label != blank and label != 'unset' -%}
                      <span class="label {{ label }}">{{ section_st[label] }}</span>
                    {%- endif -%}
                  </a>
                  {%- if link.links.size > 0 -%}
                    <open-children-toggle class="open-children-toggle"></open-children-toggle>
                  {%- endif -%}
                {%- endcapture -%}
              <li
                {{ block.shopify_attributes }}
                class="level0{% if link.links.size or has_content %} menu-parent mega-menu{% else %} single{% endif %}"
                {{ block.shopify_attributes }}
              >
                {{ menu_level_zero }}
                {%- if link.links.size > 0 -%}
                  <div class="submenu absolute gradient">
                    <div class="{% if full_width %}full-width{% else %}mega-menu-fix-width{% endif %}">
                      {%- case last_block.type -%}
                        {%- when 'menu_promotion' -%}
                          {% assign banner_count = 0 %}
                          {% for i in (1..2) %}
                            {%- capture promotion_image -%}promotion_image_{{i}}{%- endcapture -%}
                            {%- if block_st[promotion_image] != blank -%}
                              {% assign banner_count = banner_count | plus: 1 %}
                            {%- endif -%}
                          {% endfor %}
                          <div
                            class="d-flex flex-cols flex-mega-banner{% if block_st.promotion_position == "left" %} row-reverse{% endif %}"
                            style="--col-mega-width: {{ block_st.promotion_image_width }}%"
                          >
                            {% if link.links.size > 0 %}
                              <div class="menu-list flex-1 mt-1025-0-impo" style="--row-gap: 40px">
                                {%- render 'horizontal-menu' | link: link | type: "mega" | column: block_st.promotion_menu_column | is_mega: true -%}
                              </div>
                            {% endif %}
                            {%- if block_st.promotion_image_1 != blank or block_st.promotion_image_2 != blank -%}
                              <div class="custom-menu-column submenu-banner mt-30 mt-1025-0">
                                <div
                                  class="banner grid-cols gap-small tablet-2 mb-1 row-as-column-gap"
                                  style="--col-number: {{ banner_count }}"
                                >
                                  {%- if block_st.promotion_image_1 != blank -%}
                                    {%- assign banner_alt = block_st.promotion_image_1.alt
                                      | default: link.title
                                      | escape
                                    -%}
                                    <a
                                      {% if block_st.promotion_link_1 == blank %}
                                        role="link" aria-disabled="true"
                                      {% else %}
                                        aria-label="{{ link.title }}" href="{{ block_st.promotion_link_1 }}"
                                      {% endif %}
                                      class="header-banner rounded-corner-item p-0"
                                    >
                                      {{
                                        block_st.promotion_image_1
                                        | image_url: width: 600
                                        | image_tag:
                                          class: 'menu-banner-img rounded-corner-item',
                                          widths: '50, 100, 150, 200, 250, 300, 400, 500, 600, 700',
                                          width: block_st.promotion_image_1.width,
                                          height: block_st.promotion_image_1.height,
                                          loading: 'lazy',
                                          sizes: '100vw',
                                          alt: banner_alt
                                      }}
                                    </a>
                                  {%- endif -%}
                                  {%- if block_st.promotion_image_2 != blank -%}
                                    {%- assign banner_alt = block_st.promotion_image_2.alt
                                      | default: link.title
                                      | escape
                                    -%}
                                    <a
                                      {% if block_st.promotion_link_2 == blank %}
                                        role="link" aria-disabled="true"
                                      {% else %}
                                        aria-label="{{ link.title }}" href="{{ block_st.promotion_link_2 }}"
                                      {% endif %}
                                      class="header-banner rounded-corner-item p-0"
                                    >
                                      {{
                                        block_st.promotion_image_2
                                        | image_url: width: 600
                                        | image_tag:
                                          class: 'menu-banner-img rounded-corner-item',
                                          widths: '50, 100, 150, 200, 250, 300, 400, 500, 600, 700',
                                          width: block_st.promotion_image_2.width,
                                          height: block_st.promotion_image_2.height,
                                          loading: 'lazy',
                                          sizes: '100vw',
                                          alt: banner_alt
                                      }}
                                    </a>
                                  {%- endif -%}
                                </div>
                              </div>
                            {%- endif -%}
                          </div>
                        {%- when 'menu_collection' -%}
                          {% assign collection_count = 0 %}
                          {% for i in (1..3) %}
                            {%- capture collection -%}collection_{{i}}{%- endcapture -%}
                            {%- if block_st[collection] != blank -%}
                              {% assign collection_count = collection_count | plus: 1 %}
                            {%- endif -%}
                          {% endfor %}
                          <div class="flex-mega-banner" style="--col-mega-width: {{ block_st.collection_width }}%">
                            {% if link.links.size > 0 %}
                              <div
                                class="menu-list menu-column-{{ block_st.collection_menu_column }}"
                                style="--row-gap: 40px"
                              >
                                {%- render 'submenu-list' | link: link -%}
                              </div>
                            {% endif %}
                            {%- if collection_count > 0 -%}
                              <div class="custom-menu-column">
                                <div class="row-as-column-gap" style="--col-number: {{ collection_count }}">
                                  {%- for i in (1..3) -%}
                                    {%- capture collection -%}collection_{{i}}{%- endcapture -%}
                                    {%- liquid
                                      assign collection_value = block_st[collection]
                                    -%}
                                    {%- if collection_value != blank -%}
                                      {%- liquid
                                        assign p_url = collection_value.url
                                        assign p_img = collection_value.featured_image
                                      -%}
                                      {%- if p_url != blank -%}
                                        <div class="collection-items menu-collection rounded-corner-item relative">
                                          {%- assign banner_alt = p_img.alt
                                            | default: collection_value.title
                                            | escape
                                          -%}
                                          <a
                                            role="link"
                                            aria-label="{{ collection_value.title }}"
                                            href="{{ p_url }}"
                                            class="banner__media collection-media p-0 hover-effect"
                                            style="{{ style_ratio | strip | strip_newlines }}"
                                          >
                                            {%- if p_img != blank -%}
                                              {{
                                                p_img
                                                | image_url: width: 600
                                                | image_tag:
                                                  class: 'menu-collection-img',
                                                  widths: '50, 100, 150, 200, 250, 300, 400, 500, 600, 700',
                                                  width: p_img.width,
                                                  height: p_img.height,
                                                  loading: 'lazy',
                                                  sizes: '100vw',
                                                  alt: banner_alt
                                              }}
                                            {%- else -%}
                                              {% render 'placeholder-render' | type: "collection" %}
                                            {%- endif -%}
                                            <div class="collection-information mt-15 text-left absolute d-flex flex-column inset-0 color-light px-15 pb-15 pb-sm-30 px-sm-30 pointer-none flex-end">
                                              <span class="no-underline h5 m-0 relative z-2">
                                                {{- collection_value.title -}}
                                              </span>
                                            </div>
                                          </a>
                                        </div>
                                      {%- endif -%}
                                    {%- endif -%}
                                  {%- endfor -%}
                                </div>
                              </div>
                            {%- endif -%}
                          </div>
                        {%- else -%}
                          {% assign product_count = 0 %}
                          {% for i in (1..3) %}
                            {%- capture product -%}product_{{ i }}{%- endcapture -%}
                            {%- if block_st[product] != blank -%}
                              {% assign product_count = product_count | plus: 1 %}
                            {%- endif -%}
                          {% endfor %}
                          <div class="flex-mega-banner" style="--col-mega-width: {{ block_st.product_width }}%">
                            {% if link.links.size > 0 %}
                              <div
                                class="menu-list menu-column-{{ block_st.collection_menu_column }}"
                                style="--row-gap: 40px"
                              >
                                {%- render 'submenu-list' | link: link -%}
                              </div>
                            {% endif %}
                            {%- if product_count > 0 -%}
                              <div class="custom-menu-column">
                                <div class="grid-cols gap-medium" style="--col-number: {{ product_count }}">
                                  {%- for i in (1..3) -%}
                                    {%- capture product -%}product_{{ i }}{%- endcapture -%}
                                    {%- liquid
                                      assign product_value = block_st[product]
                                    -%}
                                    {%- if product_value != blank -%}
                                    {%- endif -%}
                                  {%- endfor -%}
                                </div>
                              </div>
                            {%- endif -%}
                          </div>
                      {%- endcase -%}
                    </div>
                  </div>
                {%- endif -%}
              </li>
            {% else %}
              <li
                {{ block.shopify_attributes }}
                class="level0{% if link.links.size %} menu-parent dropdown-menu{% else %} single{% endif %}"
                {{ block.shopify_attributes }}
              >
                <a href="{{ link.url }}">
                  <span>{{ link.title }}</span>
                </a>
                {%- if link.links.size > 0 -%}
                  <open-children-toggle class="open-children-toggle"></open-children-toggle>
                {%- endif -%}
                {%- if link.links.size > 0 -%}
                  <div class="submenu absolute gradient">
                    <div class="fw-600 submenu-mobile-title justify-content-between">
                      <back-menu role="link" class="back-main-menu pointer fs-big-1 heading-style">
                        <i class="icon-chevron-left"></i>
                        {{ link.title }}
                      </back-menu>
                      <close-menu class="icon-x close-menu pointer"></close-menu>
                    </div>
                    {%- render 'submenu-list' | link: link -%}
                  </div>
                {%- endif -%}
              </li>
            {% endif %}
          {%- endfor -%}
          <li class="expand-menu-link level0">
            <a href="#" class="level-top d-block">
              {{ 'main_menu.vertical.more' | t }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
